<!DOCTYPE html>
<html>
  <head>
    <title>sign up form</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/signup.css" />
  </head>
  <body>
    <header>
      <div class="custom-container">
        <div class="custom-l-heading"><h1>SignUp Form</h1></div>
        <div class="custom-form-wrapper">
          <form action="/user/sign_up" method="POST">
            <div class="custom-form-group">
              <label>Username*</label>
              <input type="text" placeholder="enter user name" name="username" />
            </div>
            <div class="custom-form-group">
              <label>Email*</label>
              <input type="email" placeholder="enter email" name="email" />
            </div>
            <div class="custom-form-group">
              <label>Password*</label>
              <input type="password" placeholder="enter password" name="password" />
            </div>
            <div class="custom-form-group">
              <label>Confirm Password*</label>
              <input type="password" placeholder="enter password" name="confirm-password" />
            </div>
            <button type="submit">Sign up</button>
          </form>
          <p>Arleady have an account. <a href="./catalog.html">login now!</a></p>
        </div>
      </div>
    </header>
  </body>
</html>
